<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Golive</title>
    <meta name="viewport" content="width=device-width">
    <!-- <link rel="icon" href="favicon.ico" type="image/x-icon" /> -->
</head>
<body>
<div id="root"></div>
<script src='node_modules/socket.io-client/dist/socket.io.js'></script>
<!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js'></script> -->
</body>
</html>